# This is a configuration file for Qualys API scripts
# Created 11/1/2017 by Siggi Bjarnason

# Base API URL and other base API requirements
APIBaseURL=https://qualysapi.qg3.apps.qualys.com
APIRequestHeader=DSOVM

#Qualys portal login authentication.
QUserID=
QUserPWD=

#Misc Stuff
OutfileName=c:\temp\QPCoutput.xml

#Slack Notification stuff
NotificationURL=https://slack.com/api/chat.postMessage
NotifyChannel=
NotifyToken=
NotifyEnabled=false